<div class="blackout" [class.active]="isOpen" (click)="closeMenu()"></div>
<div class="burger-menu" [class.open]="isOpen">
  <app-background [backgroundType]="'burger'"></app-background>
  <div class="menu-content">
    <ul>
      <li (click)="openProfile()"><a>Профиль</a></li>
      <li (click)="openGame()"><a>Играть</a></li>
      <li (click)="openLeaderTable()"><a>Таблица лидеров</a></li>
      <li (click)="openShop()"><a>Магазин</a></li>
      <li (click)="openRules()"><a>Правила</a></li>
      <li class="logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <a>Выйти из аккаунта</a>
      </li>
    </ul>
    <div class="sound-controls">
      <app-sound></app-sound>
    </div>
  </div>
</div>