<div class="blackout" [class.active]="isOpen" (click)="closeMenu()"></div>
<div class="burger-menu" [class.open]="isOpen">
    <div class="menu-content">
      <div class="sound-controls">
        <div class="sound-control" (click)="toggleMusic()">
          <mat-icon>{{ isMusicEnabled ? 'music_note' : 'music_off' }}</mat-icon>
          <span>{{ isMusicEnabled ? 'Музыка включена' : 'Музыка выключена' }}</span>
        </div>
        <div class="sound-control" (click)="toggleSound()">
          <mat-icon>{{ isSoundEnabled ? 'volume_up' : 'volume_off' }}</mat-icon>
          <span>{{ isSoundEnabled ? 'Звук включен' : 'Звук выключен' }}</span>
        </div>
      </div>
      <ul>
        <li><a>Профиль</a></li>
        <li><a (click)="openGame()">Играть</a></li>
        <li><a (click)="openLeaderTable()">Таблица лидеров</a></li>
        <li><a (click)="openRules()">Правила</a></li>
        <li class="logout">
          <mat-icon>logout</mat-icon>
          <a (click)="logout()">Выйти из аккаунта</a>
        </li>
      </ul>
    </div>
  </div>