.card-wrap {
    width: 580px;
    height: fit-content;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    min-width: auto;
    width: 100%;
    transition: 100ms ease;
    
    p {
        align-self: center;
        font-family: 'GOST Type B';
        font-weight: bold;
        margin: 10px;
        color: #34dadd;
        font-size: 30px;
    }

    th, td{
        align-self: center;
        font-weight: bold;
        font-family: 'GOST Type B';
        font-size: 21px;
        color: #34dadd;
    }

    table {
        border: 2px solid #34dadd;
        border-radius: 10px;
        background-color: inherit;
    }
}