.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
  
mat-card {
    width: 400px;
    max-width: 90%;
}

mat-card-header {
    text-align: center;
}

mat-card-title {
    color: black;
    padding-bottom: 10px;
}

.code-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.digit-field {
    width: 48px; /* Adjust as needed */
}

.digit-field input {
    text-align: center;
    font-size: 1.5rem;
    height: 40px;
}

.mat-error {
    margin-bottom: 20px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

mat-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.submit-button {
    width: 100%;
}