<app-confetti></app-confetti>
<div class="wrapper">
	<img src="assets/images/detector.png" alt="" class="detector">
	<div class="game-container">
		<div class="game-controls">
			<div class="difficulty-section">
				<span class="difficulty-label">Уровень сложности</span>
				<div class="difficulty-controls">
					<button [class.active]="currentDifficulty === GameDifficulty.easy" (click)="setDifficulty(GameDifficulty.easy)" title="Легкий"></button>
					<button [class.active]="currentDifficulty === GameDifficulty.medium" (click)="setDifficulty(GameDifficulty.medium)" title="Средний"></button>
					<button [class.active]="currentDifficulty === GameDifficulty.hard" (click)="setDifficulty(GameDifficulty.hard)" title="Сложный"></button>
				</div>
			</div>
			<div class="hints">
				<div class="game-info">
					<div class="coins-counter">
						<svg style="width:24px;height:24px" viewBox="0 0 24 24">
							<path 
								fill="#FFD700" 
								d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4M11,17V16H9V14H13V13H10A1,1 0 0,1 9,12V9A1,1 0 0,1 10,8H11V7H13V8H15V10H11V11H14A1,1 0 0,1 15,12V15A1,1 0 0,1 14,16H13V17H11Z"
							/>
						</svg>
						<span>{{ currentCoins }}</span>
					</div>
					<div class="flag-counter">
						<img src="assets/images/icon-bolt.png" alt="Bolt Icon" style="width:24px;height:24px">
						<span>{{ remainingFlags }}</span>
					</div>
				</div>
				<div class="hint-buttons">
					<button (click)="openMine()" [disabled]="isButtonFlagDisabled" title="Стоимость: 10. Ставит флаг на случайную мину.">
						<img src="assets/images/icon-bolt.png" alt="Bolt Icon" style="width:24px;height:24px">
					</button>
				</div>
			</div>
			<div class="hints" style="margin-right: 50px;">
				<app-timer class="timer" (timerStopped)="onTimerStopped($event)"></app-timer>
				<button (click)="reset()">Перезапустить</button>
			</div>
		</div>
		<table>
			<tr *ngFor="let row of board.cells; index as y">
				<td *ngFor="let cell of row; index as x"
					(click)="checkCell(cell)"
					(contextmenu)="$event.preventDefault(); flag(cell)"
					[attr.data-status]="cell.status">
					<div *ngIf="cell.status === 'clear' && !cell.mine && cell.proximityMines > 0" [ngClass]="getProximityClass(cell)">{{ cell.proximityMines }}</div>
					<div *ngIf="cell.status === 'clear' && !cell.mine && cell.proximityMines === 0" [ngClass]="getProximityClass(cell)">{{ cell.proximityMines }}</div>

					<div *ngIf="cell.status === 'flag'">
						<img src="assets/images/icon-bolt.png" alt="Flag" style="width:24px;height:24px">
					</div>
					<div *ngIf="cell.mine && cell.status === 'clear'">
						<img src="assets/images/icon-bomb.png" alt="Bomb" style="width:30px;height:30px">
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="game-overlay-lose" [class.active]="isGameOver"></div>