<app-background [backgroundType]="'auth'"></app-background>
<div class="wrapper">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Забыли пароль?</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field *ngIf="!codeSent"
                            subscriptSizing="dynamic"
                            appearance="outline"
                            class="form-field"
                            hideRequiredMarker>
                <mat-label class="mdc-form-field-label">Email</mat-label>
                <input matInput 
                        formControlName="email"
                        required>
                <mat-error *ngIf="form.controls['email']?.invalid">
                    <span *ngIf="form.controls['email']?.errors?.['required']">Введите почту</span>
                    <span *ngIf="form.controls['email']?.errors?.['email']">Некорректная почта</span>
                </mat-error>
            </mat-form-field>

            <div *ngIf="codeSent" class="code-input-container">
                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="digit-field">
                  <input
                    matInput
                    type="text"
                    maxlength="1"
                    [value]="codeDigits[0]"
                    (input)="onDigitInput(0, $event)"
                    #digitInput
                  />
                </mat-form-field>
      
                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="digit-field">
                  <input
                    matInput
                    type="text"
                    maxlength="1"
                    [value]="codeDigits[1]"
                    (input)="onDigitInput(1, $event)"
                    #digitInput
                  />
                </mat-form-field>
      
                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="digit-field">
                  <input
                    matInput
                    type="text"
                    maxlength="1"
                    [value]="codeDigits[2]"
                    (input)="onDigitInput(2, $event)"
                    #digitInput
                  />
                </mat-form-field>
      
                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="digit-field">
                  <input
                    matInput
                    type="text"
                    maxlength="1"
                    [value]="codeDigits[3]"
                    (input)="onDigitInput(3, $event)"
                    #digitInput
                  />
                </mat-form-field>
      
                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="digit-field">
                  <input
                    matInput
                    type="text"
                    maxlength="1"
                    [value]="codeDigits[4]"
                    (input)="onDigitInput(4, $event)"
                    #digitInput
                  />
                </mat-form-field>
      
                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="digit-field">
                  <input
                    matInput
                    type="text"
                    maxlength="1"
                    [value]="codeDigits[5]"
                    (input)="onDigitInput(5, $event)"
                    #digitInput
                  />
                </mat-form-field>
            </div>
            <mat-error class="mat-error" *ngIf="getCodeControl()?.invalid && getCodeControl()?.touched">
                <span *ngIf="getCodeControl()?.errors?.['required']">Введите код</span>
                <span *ngIf="getCodeControl()?.errors?.['pattern']">Код должен состоять из 6 цифр</span>
            </mat-error>

            <mat-form-field *ngIf="codeSent"
                            subscriptSizing="dynamic"
                            appearance="outline" 
                            class="form-field"
                            hideRequiredMarker>
                <mat-label class="mdc-form-field-label">Новый пароль</mat-label>
                <input matInput 
                        [type]="hidePassword ? 'password' : 'text'"
                        formControlName="password">
                <button mat-icon-button
                        matSuffix
                        (click)="hidePassword = !hidePassword"
                        [ariaLabel]="'Hide password'"
                        [ariaPressed]="hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="form.controls['password']?.invalid">
                    <span *ngIf="form.controls['password']?.errors?.['required']">Введите пароль</span>
                    <span *ngIf="form.controls['password']?.errors?.['minlength']">Длина пароля не менее 6 символов</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="codeSent"
                            subscriptSizing="dynamic"
                            appearance="outline" 
                            class="form-field"
                            hideRequiredMarker>
                <mat-label class="mdc-form-field-label">Подтверждение пароля</mat-label>
                <input matInput 
                        [type]="hidePassword ? 'password' : 'text'"
                        formControlName="confirmPassword">
                <button mat-icon-button
                        matSuffix
                        (click)="hidePassword = !hidePassword"
                        [ariaLabel]="'Hide password'"
                        [ariaPressed]="hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="form.controls['confirmPassword']?.invalid">
                    <span *ngIf="form.controls['confirmPassword']?.errors?.['required']">Подтвердите пароль</span>
                    <span *ngIf="form.controls['confirmPassword']?.errors?.['passwordMismatch']">Пароли не совпадают</span>
                </mat-error>
            </mat-form-field>


            <button mat-raised-button
                    *ngIf="!codeSent"
                    class="submit-button"
                    color="primary"
                    type="button"
                    (click)="submitCode()"
                    [disabled]="form.invalid">
                <span *ngIf="!loading">Получить код</span>
                <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
            </button>

            <button mat-raised-button
                    *ngIf="codeSent"
                    class="submit-button"
                    color="primary"
                    type="button"
                    (click)="submitPassword()"
                    [disabled]="form.invalid">
                <span *ngIf="!loading">Сменить пароль</span>
                <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
            </button>
        </form>
      </mat-card-content>
    </mat-card>
</div>