.sound-control {
    background-color: #114a4bb9;
    display: flex;
    padding: 10px 0;
    border: 2px solid #34dadd;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    padding: 8px;
    margin: 10px 0;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;  // Add position relative

    &:hover {
      background-color: #114a4bd2;
    }

    mat-icon {
      color: #34dadd;
      font-size: 25px;
    }

    span {
      color: #34dadd;
      font-family: 'GOST Type B';
      font-size: 25px;
    }

    mat-slider {
        width: 40px;
        color: #34dadd;
    }
}

