.sound-control {
    background-color: #ffffffd4;
    display: flex;
    padding: 10px 0;
    border: 2px solid rgb(115, 71, 0);
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    padding: 8px;
    margin: 10px 0;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;  // Add position relative

    &:hover {
      background-color: #ffffffbd;
    }

    mat-icon {
      color: rgb(115, 71, 0);
    }

    span {
      color: #333;
      font-size: 14px;
    }

    mat-slider {
        width: 40px;
        color: rgb(115, 71, 0);
    }
}

