<app-background [backgroundType]="'auth'"></app-background>
<div class="login-wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Вход</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" *ngIf="!show2faForm">
                <mat-form-field appearance="outline"
                                class="form-field"
                                subscriptSizing="dynamic"
                                hideRequiredMarker>
                    <mat-label class="mdc-form-field-label">Логин</mat-label>
                    <input matInput 
                           formControlName="username"
                           required>
                    <mat-error *ngIf="loginForm.controls['username']?.invalid">
                        <span *ngIf="loginForm.controls['username']?.errors?.['required']">Введите логин</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline"
                                class="form-field"
                                subscriptSizing="dynamic"
                                hideRequiredMarker>
                    <mat-label class="mdc-form-field-label">Пароль</mat-label>
                    <input matInput 
                           class="input_login"
                           [type]="hidePassword ? 'password' : 'text'"
                           formControlName="password">
                    <button mat-icon-button
                            matSuffix
                            (click)="hidePassword = !hidePassword"
                            [ariaLabel]="'Hide password'"
                            [ariaPressed]="hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.controls['password']?.invalid">
                        <span *ngIf="loginForm.controls['password']?.errors?.['required']">Введите пароль</span>
                        <span *ngIf="loginForm.controls['password']?.errors?.['minlength']">Длина пароля не менее 6 символов</span>
                    </mat-error>
                </mat-form-field>

                <a href="javascript:void(0);" 
                   class="forgot-password"
                   (click)="onForgotPassword()">Забыли пароль?</a>

                <div class="button-row">
                    <button mat-raised-button
                            class="button_login"
                            color="primary"
                            (click)="redirectToRegister()">
                        Я новенький
                    </button>

                    <button mat-raised-button
                            class="button_login"
                            (click)="submitLogin()"
                            [disabled]="loginForm.invalid || loading">
                        <span *ngIf="!loading">Войти</span>
                        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                    </button>
                </div>
            </form>

            <form [formGroup]="otpForm" (ngSubmit)="submit2fa()" *ngIf="show2faForm" class="verify">
                <mat-form-field appearance="outline">
                    <mat-label>Код подтверждения</mat-label>
                    <input matInput formControlName="otp" type="text" required>
                    <mat-error *ngIf="otpForm.get('otp')?.hasError('required')">
                        Код подтверждения обязателен
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="!otpForm.valid || loading">
                    <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
                    <span *ngIf="!loading">Подтвердить</span>
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>