.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    background-color: #114a4b;
    border: 5px solid #38ecef;
    width: 450px;
    max-width: 90%;
}

mat-card-title {
    font-family: 'GOST Type B';
    font-size: 40px;
    color: #38ecef;
    padding-bottom: 10px;
}

.explanation {
    font-size: var(--mat-form-field-subscript-text-size, var(--mat-sys-body-small-size));
}

.form-field {
    font-family: 'GOST Type B';
    font-size: 20px;
    width: 100%;
    padding-bottom: 10px;

    ::ng-deep .mat-mdc-form-field-outline {
        color: #38ecef;
    }
    
    // Изменение цвета при фокусе
    ::ng-deep .mat-mdc-form-field-outline-thick {
        color: #38ecef;
    }
    
    // Изменение цвета текста
    ::ng-deep .mat-mdc-input-element {
        color: #38ecef;
    }
    
    // Изменение цвета подписи
    ::ng-deep .mat-mdc-form-field-label {
        color: #38ecef;
    }
    ::ng-deep .mat-error {
        color: #38ecef;
    }
}

.button_login {
    font-family: 'GOST Type B';
    font-size: 20px;
    gap: 10px;
    margin: 10px;
    &:hover {
        background-color: #38ecef;
        color: black;
    }
    &:active {
        background-color: #27adaf;
        color: black;
    }
}

.button-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

mat-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}