@import "../../../styles.scss";

.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    background-color: #114a4b;
    border: 5px solid #38ecef;
    width: 450px;
    max-width: 90%;
}

mat-card-title {
    font-family: 'GOST Type B';
    font-size: 40px;
    color: #38ecef;
    padding-left: 45%;
    padding-bottom: 10%;
}

.explanation {
    font-size: var(--mat-form-field-subscript-text-size, var(--mat-sys-body-small-size));
}

.form-field {
    font-family: 'GOST Type B';
    font-size: 20px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 16px;
}

.button_register {
    font-family: 'GOST Type B';
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #38ecef;
    border-radius: 15px;
    margin: 10px;
    &:hover {
        background-color: #38ecef;
        color: black;
    }
    &:active {
        background-color: #27adaf;
        color: black;
    }
    &:disabled {
        color: #38ecef;
    }
}

.button-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
:host ::ng-deep .mat-icon{
    color: #38ecef !important;
}