.wrapper {
    padding: 0px 40px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.difficulty-toggle {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    overflow: hidden;
    
    ::ng-deep .mat-button-toggle {
        color: black;
        background: transparent;
        
        &.mat-button-toggle-checked {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}

.cards-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    min-width: auto;
    height: fit-content;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    transition: 100ms ease;
    
    p {
        align-self: center
    }

    table {
        background-color: white;
    }
}

.table-wrapper:nth-child(1) {
    border: 3px solid gold;
    box-shadow: 0px 0px 34px 0px gold;
}
.table-wrapper:nth-child(2) {
    border: 3px solid silver;
    box-shadow: 0px 0px 34px 0px silver;
}
.table-wrapper:nth-child(3) {
    border: 3px solid #cd7f32;
    box-shadow: 0px 0px 34px 0px #cd7f32;
}

.table-wrapper:hover {
    scale: 1.03;
}



