<app-background [backgroundType]="'game'"></app-background>
<app-header></app-header>
<div class="wrapper">
  <ng-container *ngIf="leaderboardData$ | async as leaderboardData">
    <mat-button-toggle-group [(ngModel)]="selectedDifficulty" class="difficulty-toggle">
      <mat-button-toggle value="hard">Сложный</mat-button-toggle>
      <mat-button-toggle value="medium">Средний</mat-button-toggle>
      <mat-button-toggle value="easy">Лёгкий</mat-button-toggle>
    </mat-button-toggle-group>

    <div class="cards-container">
      <app-leaderboard-card *ngIf="selectedDifficulty === 'hard'"
                          [dataSource]="hardDataSource"
                          [displayedColumns]="displayedColumns"
                          difficulty="Сложный"
                          color="gold"></app-leaderboard-card>

      <app-leaderboard-card *ngIf="selectedDifficulty === 'medium'"
                          [dataSource]="mediumDataSource"
                          [displayedColumns]="displayedColumns"
                          difficulty="Средний"
                          color="silver"></app-leaderboard-card>

      <app-leaderboard-card *ngIf="selectedDifficulty === 'easy'"
                          [dataSource]="easyDataSource"
                          [displayedColumns]="displayedColumns"
                          difficulty="Лёгкий"
                          color="#cd7f32"></app-leaderboard-card>
    </div>
  </ng-container>
</div>