.dialog-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 29, 29);
    border-radius: 25px;
    border: 5px solid rgb(83, 50, 0);
}

.dialog-title {
    color: rgb(255, 187, 1) !important;
    text-align: center;
    font-weight: bold;
    font-family: 'GOST Type B';
    font-weight: bold;
    margin-top: 20px;
    font-size: 40px;
}

.rules-scroll-container {
    margin: 16px;
}

.rules-content {
    padding: 0 20px;
    color: white;
    font-size: 20px;
    font-family: 'GOST Type B';
}

h3 {
    color: rgb(255, 187, 1);
    margin-top: 0px;
    padding: 15px 15px 0 0;
    font-size: 25px;
}

p {
    margin: 12px 0;
    line-height: 1.3;
    text-indent: 20px;
}

.close-button {
    display: flex;
    justify-content: end;
    padding-right: inherit;
}
