.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(115, 71, 0, 0.645);
    height: 46px;
    position: relative;
}

.outer-container {
    position: absolute;
    left: 3px;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    margin-left: 2px;
    
    &.rotate {
        transform: rotate(var(--rotation-direction));
    }
}

.rotate {
    animation: rotate 0.2s ease-out;
    transform-origin: center;
}
  
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(
          calc(360deg * var(--rotation-direction))
        );
    }
}