.header-container {
    display: flex;
    align-items: center;
    background-color: rgb(255, 187, 1);
    height: 46px;
}

.outer-container {
    padding-left: 3px;
}

.svg-container svg {
    vertical-align: middle;
    cursor: pointer;
    width:40px;
    height:40px;
}
  
.rotate {
    animation: rotate 0.2s ease-out;
    transform-origin: center;
}
  
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(
          calc(360deg * var(--rotation-direction))
        );
    }
}

.menu-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
    
    &.rotate {
        transform: rotate(var(--rotation-direction));
    }
}